<div class="emp-info drop-shadow">
    <div class="profile-pic">
        <img {{bind-attr src=ImageUrl}}/>
    </div>
    <div class="emp-id">
        <div>Emp. No </div>
        <div class="empID">{{EmployeeID}}</div>
    </div>
    <div class="emp-det-name">
        <span class="">{{FirstName}}</span>
        <span class="">{{LastName}}</span>
    </div>
    <div class="">Joined {{HireDate}}</div>
    <div class="emp-biodata">
        <span class="infoLabel">Personal Info</span>
        <span>Born On </span> <span class="">{{BirthDate}}</span>
        <div class="addLabel">Address</div>
        <div class="">{{Address}}</div>
        <div class="">{{City}}</div>
        <div class="">{{Country}} - {{PostalCode}}</div>
    </div>
    <div class="emp-contact">
        <span>Contact</span>
        <div>HomePhone {{HomePhone}}</div>
        <div>Extension {{Extension}}</div>
    </div>
    <div class="emp-note">
        <span>Notes</span>
        <div class="note-data">
            {{Notes}}
        </div>
    </div>
</div>
